<!doctype html>
    <title>Upload new File</title>
<head>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css">



</head>


<div class="row" >
  <div class="col-md-3 offset-md-4" style="padding-top: 200px; " >
      <form action="" method=post enctype=multipart/form-data>
    <div class="custom-file">

    <input type="file" name=file class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose file</label>
        <div class="col-md-16 offset-md-0">
    <input type=submit class="btn btn-primary btn-lg btn-block" value=Upload >
        </div>
    </div>
          </form>
  </div>
</div>







